.Header {
    color:white;
    transition: 400ms ease-in-out 0s;
    font-size: 35px;
    padding-top:50px;
    font-family: 'ITC Avant Garde Gothic Std Book';
    padding-bottom:100px;
    margin-top:5vh;

}
.skillsContainer {
     /* overflow: hidden; */
    /* width: 70%; */
    max-width: 900px;
    transition: 400ms ease-in-out 200ms;
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding-bottom:150px;
}
.skillsContainer ul{
    list-style: none;
    padding:0;
    text-align: left;
    color:white;
    font-size: 20px;
    font-family: 'ITC Avant Garde Gothic Std XL';
}
@media screen and (max-width: 600px) {
    .skillsContainer {
      font-size: 3vw;
    }
    .skillsContainer ul {
        font-size: 4vw;
    }
  }
.skillsContainer li{
    padding:3px;
    padding-left:0;      
}
.languagesHeader {
    color: white;
}
.enginesHeader {
    color:white;
}

.softwareHeader {
    color: white;
}
.separator {
    width:60%;
    height:5px;
}