.ProjectsContainer {
    max-width:1360px;
    /* margin-bottom: 10%; */
    transition: 400ms ease-in-out 200ms;
    opacity:0;  
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    margin-bottom: 15vh;
    /* overflow: hidden; */
}
.Header {
    color:white;
    transition: 400ms ease-in-out 0s;
    font-family: 'ITC Avant Garde Gothic Std Book';
    /* font-weight: 500; */
    font-size: 35px;
    padding-top:50px;
    /* padding-bottom: 100px; */
}
@media(min-width: 1360px){
    .ProjectsContainer{
        justify-content: space-between;
        
    }
  }