@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
.FinalPageContainer {
    height:inherit;
    display: flex;
    margin:0;
    margin-top:60vh;
    padding:0;
    bottom:0;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #040c14;
    color:#d3d3d3c2;
    font-family: 'ITC Avant Garde Gothic Std Medium';
    overflow: hidden;
}

.whiteBar {
    /* margin-top:2px; */
    width:8px;
    height:initial;
    margin-right:5px;
    background-color:#2bb7b2;
}
.Name {
    font-size: 15px;
}
.linksContainer {
    display:flex;
    /* flex-direction: column; */
    padding:0;
    margin-right:3%;
    justify-content: space-evenly;
}
.linksContainer a {
    margin-top:10%;
    margin-right:5%;
    list-style: none;
    background: linear-gradient(to right, #2bb7b2, #2bb7b2 50%, rgb(255, 255, 255) 50%);
    transition: background-position 275ms ease;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    position: relative;
    text-decoration:none;
    color:white;
}
@media (max-width: 500px) {
    .linksContainer{
        flex-direction: column;
    }
    .linksContainer a {
        margin-right:0;
    }
 }
.linksContainer a:hover {
    background-position: 0 100%;
}
.Greetings {
    /* position:absolute; */
    padding-top: 5%;
    padding-bottom:30%;
    transition:1000ms ease-in-out;
    opacity:0.8;
}
.Warning {
    width: 100%;
    transition:1500ms ease-out 3000ms;
    opacity:0.8;
    transform:translateX(50px);
}
.Warning2 {
    margin:0;
    padding:0;
    width: 100%;
    transition:1500ms ease-out 4500ms;
    padding-top:100px;
    opacity:0.8;
    transform:translateX(-50px);
    padding-bottom: 100px;
}
.FinalText{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    top:0;
    bottom:0;
    flex-wrap:wrap;
    width: 100%;
    height:inherit;
}
.contactMail {
    overflow: hidden;
    list-style: none;
    background: linear-gradient(to right, #38dad4, #38dad4 50%, rgb(255, 255, 255) 50%);
    /* transition:  background-position 275ms ease; */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    display: inline-block;
    position: relative;
    text-decoration:none;
    color:white;
    font-family: 'Roboto';
    font-weight: bold;
    opacity:1;
    transition: 1000ms ease-out 6000ms;
    padding-bottom: 50px;
    margin-bottom: 20%;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}
.contactMail:hover {
    background-position: 0 100%;
}
.BonfireContainer   {
    opacity: 0.7;
    transition:3s ease-in-out 200ms;
    transform: scale(0.8);
    position: relative;
    display: inline-block;
}
.BonfireContainer::after {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    box-shadow: inset 0px 0px 600px #040c14;
}
.Bonfire {
    display:block;
}
.Overlay {
    position: absolute;
    transform: scale(1.05);
    right: 0;
    left: 0;
    width:770px;
    height:370px;
}

.Version {
    /* position: absolute; */
    bottom: 0;
    height:20%;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left:2%;
    text-align: justify;
    font-size: 12px;
    font-family: 'ITC Avant Garde Gothic Std Bold';
    color: rgba(255, 255, 255, 0.726);
}
.Footer {
    font-family: 'Roboto';
    bottom:0;
    margin-top:5%;
    width:100%;
    min-height:200px;
    display:flex;
    flex-direction: column;
    font-weight: bold;
    background-color: #061627;
    align-items: center;
    /* justify-content: center; */
}
.Credits {
    margin-top:10px;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    color:white;
    margin-left: 2%;
    margin-right:auto;
    display: flex;
}
.UpperFooter {
    display: flex;
    width:100%;
    height:80%;
    margin-top:auto;
}

@keyframes mailanim {
    0% {background-position: -100% 0%;}
    50% {background-position:100% 0%;}
    100% {background-position: -100% 0%;}
    
}