.ProjectsContainer {
    width:100%;
    margin-bottom: 10%;
    transition: 400ms ease-in-out 200ms;
    opacity:0;  
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.Header {
    color:white;
    transition: 400ms ease-in-out 0s;
    font-family: 'ITC Avant Garde Gothic Std Book';
    /* font-weight: 500; */
    font-size: 35px;
    padding-top:50px;
}