html,body {
  width: 100%;
  background-color: #040c14;
  z-index: -2;
  height: 100%;
  margin: 0;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%;
  height:var(--realHeight);
}

.Typewriter__cursor {
  color:white;
  font-size: 50px;
}
@font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book'), url('./Fonts/ITCAvantGardeStdMd.woff') format('woff');
}
@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book'), url('./Fonts/ITCAvantGardeStdBk.woff') format('woff');
}
@font-face {
  font-family: 'ITC Avant Garde Gothic Std XL';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book'), url('./Fonts/ITCAvantGardeStdXLt.woff') format('woff');
}
@font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold'), url('./Fonts/ITCAvantGardeStdBold.woff') format('woff');
}
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: local('Consolas'), url('./Fonts/Consolas.ttf') format('ttf');
}
:root {
  --realHeight: calc(100vh - 64px);
}
@media(min-width: 190px){
  :root{
      --contentToScreenRatio:0.4
  }
}
@media(min-width: 290px){
  :root{
      --contentToScreenRatio:0.5
  }
}
@media(min-width: 390px){
  :root{
      --contentToScreenRatio:0.6
  }
}

@media(min-width: 490px){
  :root{
      --contentToScreenRatio:0.7
  }
}
@media(min-width: 590px){
  :root{
      --contentToScreenRatio:0.8
  }
}
@media(min-width: 700px){
  :root{
      --contentToScreenRatio:1
  }
}